@import "../../../styles/variables.module.scss";

.header{
    width: 100vw;
    display: flex;
    justify-content: flex-end;

    a{
        font-family: $fonteSource;
        margin-top: 1.25rem;
        margin-right: 1.25rem;
        color: $cor-secundaria;
        font-weight: 900;
        font-size: 2rem;
        text-decoration: none;
    }
}