.madeicon{
    width: 9.375rem;
    height: 2.5rem;
    background-color: blue;
    border-radius: 0 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: -0.9375rem;
    cursor: pointer;

    p{
        color: white;
    }
}