@import "../../../styles/variables.module.scss";

.imagem{
    width: 13.5625rem;
    height: 11.5625rem;
    background-color: red;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.titulo{
    font-size: 2rem;
    font-family: $fonteSource;
    color: $cor-secundaria;
    font-weight: 900;
    margin: 0 auto;
    width: 20.9375rem;
    margin-top: 1.25rem;
}

.form{
    font-family: $fonteSource;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 1.25rem;

    .label{
        font-size: 1rem;
        font-weight: 900;
        color: $cor-secundaria;
        width: 20.9375rem;
        margin-top: 1.25rem;
    }

    .inputspace{
        width: 20.9375rem;
        height: 3rem;
        position: relative;
        margin-top: 1.25rem;

        &::before{
            content: "";
            opacity: 0.2;
            background-color: $cor-primaria;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: .25rem;
            z-index: -1;
        }

        input{
            max-width: 100%;
            height: 100%;
            min-width: 18.9375rem;
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: .25rem;
            text-align: center;
            color: $cor-secundaria;
            font-size: 1rem;
            font-weight: 600;
            font-family: $fonteSource;
            padding-inline: 1rem;

            &::placeholder{
                text-align: center;
                color: $cor-secundaria;
                font-size: 1rem;
                font-weight: 600;
                font-family: $fonteSource;
            }
        }
    }
    
    #login{
        width: 20.9375rem;
        height: 3.5rem;
        border: none;
        border-radius: .25rem;
        font-family: $fonteSource;
        margin-top: 1.25rem;
    }

    #login{
        background-color: $cor-primaria;
        color: white;
        font-size: 1.125rem;
        font-weight: 900;
    }

}